/* ------------------------------------------------- */
/*
/* ------------------------------------------------- */
.container {
}

#main{
    width: 900px;
}

#canvas {
    border-collapse: collapse;
    background-color: #FFF;
    height: 700px;
    width: 100%;
}

#canvas td {
    border: 2px solid #CCC;
    width: 10%;
    cursor: pointer;
}

#palette{
    height: 60px;
}

#palette td{
    width: 60px;
}
th {
    text-align: center;
}
.icon{
    width: 60px;
    height: 60px;
}